<p *ngIf="!matches || !players"><em>Loading...</em></p>
<div *ngIf="matches && players">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>DATE</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>ELO Points</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let match of matches">
        <td style="min-width: 60px">
          {{ match.timeStampUtc | date : "H:mm" }}
          <br>
          {{ match.timeStampUtc | date : "dd MMM" }}
          <!--<br />{{match.submittedBy}}-->
        </td>
        <td>{{ getName(match.playerList[0]) }} & {{ getName(match.playerList[1])}} <br />{{match.matchResult.team1Score}}</td>
        <td>{{ getName(match.playerList[2])}} & {{ getName(match.playerList[3])}} <br /> {{match.matchResult.team2Score}}</td>
        <td>{{ match.points}} <button *ngIf="isAdmin" (click)="deleteMatch(match)">X</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
