<p *ngIf="!playerSeasonHistory"><em>Loading...</em></p>
<select *ngIf="email" (change)="onChange()" [(ngModel)]="selectedUser">
  <option *ngFor="let user of users" [ngValue]="user">
    {{ user.username }}
  </option>
</select>
<div *ngIf="playerSeasonHistory">
  <table class="table">
    <thead>
      <tr>
        <th>Season</th>
        <th>Rank</th>
        <th>Games</th>
        <th>ELO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of playerSeasonHistory.playerLeaderBoardEntries">
        <td>{{ entry.seasonName }}</td>
        <td>{{ entry.rank }}</td>
        <td>{{ entry.wins }} / {{ entry.numberOfGames }} ({{ (entry.wins/ entry.numberOfGames * 100)| number : '1.2-2'}})</td>
        <td>{{ entry.eloRating }}</td>
      </tr>
    </tbody>
  </table>
</div>
