<p *ngIf="!playerSeasonHistory"><em>Loading...</em></p>

<div *ngIf="playerSeasonHistory">
  <table class="table">
    <thead>
      <tr>
        <th>Season</th>
        <th>Rank</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of playerSeasonHistory.playerLeaderBoardEntries">
        <td>{{ entry.seasonName }}</td>
        <td>{{ entry.rank }}</td>
        <td>{{ entry.wins }} / {{ entry.numberOfGames }} ({{ (entry.wins/ entry.numberOfGames * 100)| number : '1.2-2'}})</td>
      </tr>
    </tbody>
  </table>
</div>
