/* You can add global styles to this file, and also import other style files */
@import './styles/material-theme.scss';

@include angular-material-theme($foos-theme);

p, a, h2, h2, h3, h4, h5 {
  font-family: 'Roboto', Arial, Helvetica;
}

p {
  font-size: 14px;
  margin: 0px;
}

h1 {
  font-size: 20px;
  margin: 0px;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  overflow: hidden;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 999;
  background: whitesmoke;
}

.spinner {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


