/* You can add global styles to this file, and also import other style files */
@import './styles/material-theme';
@import './styles/material-overwrites';
@import './styles/variables';

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
  margin: 0;
  overflow: hidden;
}

p, a, h2, h2, h3, h4, h5 {
  font-family: 'Roboto', Arial, Helvetica;
}

p {
  font-size: 14px;
  margin: 0px;
}
a {
  color: $primary;
}

h1 {
  font-size: 26px;
  margin: 8px 0;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 999;
  background: whitesmoke;
}

.spinner {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


