@import "~styles/variables";

.back-btn {
  position: fixed;
  top: 16px;
  left: 16px;
  background: $primary;
  padding-left: 8px;
  display: none;
  color: white;
  align-items: center;
  mat-icon {
    margin-top: -2px;
  }
  @media screen and (max-width: 512px) {
    display: flex;
  }
}

.chart {
  margin-top: 8px;
}
