<h3>Administration</h3>

<mat-tab-group>
  <mat-tab label="Season">
    Start new season from tomorrow
    <br/>
    <button type="button" (click)="startNewSeason()">
      Submit
    </button>
  </mat-tab>
  <mat-tab label="Leaderboard">
      Reset leaderboard
      <br/>
      <button type="button" (click)="resetLeaderboard()">
        Submit
      </button>
  </mat-tab>
  <mat-tab label="Roles">
    <button type="button" (click)="getUserMappingsResponse()">
      Get User mappings
    </button>
    
    <ul class="users">
      <li *ngFor="let user of usersMappings"
        [class.selected]="user === selectedUser"
        (click)="onUserMappingSelect(user)">
        <span >{{getName(user.email)}}</span>
      </li>
    </ul>

    <ul *ngIf="selectedUser && !usersMappings" class="users">
      Roles: 
      <li *ngFor="let role of selectedUser.roles">
        <span >{{role}}</span>
      </li>
    </ul>

    <ul *ngIf="selectedUser && !usersMappings">  
        <button type="button" (click)="addPlayerRole()">
          Add Player role to user
        </button>
      </ul>
  </mat-tab>

  <mat-tab label="Matches">
      Undelete deleted Matches
      <br/>
      <button type="button" (click)="getDeletedMatches()">
          Get Deleted Matches
      </button>
      <div>
          <table class="table">
            <thead>
            <tr>
              <th>DATE</th>
              <th>Team 1</th>
              <th>Team 2</th>
              <th>ELO Points</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let match of deletedMatches">
              <td style="min-width: 60px">
                {{ match.timeStampUtc | date : "H:mm" }}
                <br>
                {{ match.timeStampUtc | date : "dd MMM" }}
                <!--<br />{{match.submittedBy}}-->
              </td>
              <td>{{ getName(match.playerList[0]) }} & {{ getName(match.playerList[1])}} <br />{{match.matchResult.team1Score}}</td>
              <td>{{ getName(match.playerList[2])}} & {{ getName(match.playerList[3])}} <br /> {{match.matchResult.team2Score}}</td>
              <td>{{ match.points}} <button *ngIf="isAdmin" (click)="deleteMatch(match)">X</button></td>
            </tr>
            </tbody>
          </table>
        </div>
  </mat-tab>
</mat-tab-group>

<div *ngIf="message" class="help-block">{{message}}</div>