<h1>Administration</h1>
<h3 *ngIf="!players">Loading...</h3>
<mat-tab-group *ngIf="players">
  
  <!-- <mat-tab label="Leaderboard">
      Reset leaderboard
      <br/>
      <button type="button" (click)="resetLeaderboard()">
        Submit
      </button>
  </mat-tab> -->
  <mat-tab label="Roles">
    <div *ngIf="message" class="help-block">{{message}}</div>
    <button type="button" mat-stroked-button (click)="getUserMappingsResponse()">
      Get User mappings
    </button>    
    <ul class="users">
      <li *ngFor="let user of usersMappings"
        [class.selected]="user === selectedMappingUser"
        (click)="onUserMappingSelect(user)">
        <span >{{getName(user.email)}}</span>
      </li>
    </ul>

    <ul *ngIf="selectedMappingUser && !usersMappings" class="users">
      <div *ngIf="message" class="help-block">{{message}}</div>
        {{getName(selectedMappingUser.email)}} existing Roles: 
      <li *ngFor="let role of selectedMappingUser.roles">
        <span >{{role}}</span>
      </li>
    </ul>

    <ul *ngIf="selectedMappingUser && !usersMappings">  
      
        <button type="button" mat-stroked-button (click)="addPlayerRole()">
          Add Player role to user
        </button>
      </ul>
  </mat-tab>

  <mat-tab label="Matches">
      <div *ngIf="deletedMessage" class="help-block">{{message}}</div>
      Undelete deleted Matches
      <br/>
      <button type="button" mat-stroked-button (click)="getDeletedMatches()">
          Get Deleted Matches
      </button>
      <div>
          <table class="table">
            <thead>
            <tr>
              <th>DATE</th>
              <th>Team 1</th>
              <th>Team 2</th>
              <th>ELO Points</th>
              <th>Un-delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let match of deletedMatches">
              <td style="min-width: 60px">
                {{ match.timeStampUtc | date : "H:mm" }}
                <br>
                {{ match.timeStampUtc | date : "dd MMM" }}
                <!--<br />{{match.submittedBy}}-->
              </td>
              <td>{{ getName(match.playerList[0]) }} & {{ getName(match.playerList[1])}} <br />{{match.matchResult.team1Score}}</td>
              <td>{{ getName(match.playerList[2])}} & {{ getName(match.playerList[3])}} <br /> {{match.matchResult.team2Score}}</td>
              <td>{{ match.points}}</td>
              <td><button mat-stroked-button (click)="undeleteMatch(match)">X</button></td>
            </tr>
            </tbody>
          </table>
        </div>
  </mat-tab>
  <mat-tab label="Season">
    <div *ngIf="message" class="help-block">{{message}}</div>
    
    <button mat-stroked-button type="button" (click)="getSeasons()">
      Get Seasons
    </button>
    <div>
      <table class="table">
        <thead>
        <tr>
          <th>NAME</th>
          <th>Start Date</th>
          <th>DELETE</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let season of seasons">
          <td style="min-width: 60px">{{season.name}}</td>
          <td>{{ season.startDate | date : "d/M/yy" }}</td>
          <td>
            <button *ngIf="seasonStarted(season)" mat-button (click)="deleteUnstartedSeason(season)">X</button>
          </td>          
        </tr>
        </tbody>
      </table>
    </div>

    <br/>
    <h3>Add new upcoming season</h3>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Season name" class="form-control" name="seasonName" [(ngModel)]="newSeason.name" #username="ngModel" required />
      </mat-form-field>
    </form>         
    <mat-form-field>
        <input matInput [matDatepicker]="picker" (dateChange)=seasonDateChanged($event) placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br/>
      <button [disabled]="loading" class="btn" (click)="startNewSeason()">Add season</button>
  </mat-tab>
  
  <mat-tab label="Password">
    <h4>Change users password</h4>
    <h4>{{passwordMessage}}</h4>
    <div *ngIf="loading">Loading</div>
    <div *ngIf="!selectedPasswordPlayer && !loading">
        <li *ngFor="let player of players" 
        [class.selected]="player === selectedPasswordPlayer"
        (click)="onPasswordSelect(player)">
        <span >{{getName(player.email)}}</span>
      </li>
    </div>
    <div *ngIf="selectedPasswordPlayer && !loading">
        {{getName(selectedPasswordPlayer.email)}} selected
        <input matInput type="password" [(ngModel)]="newUserPassword" class="form-control"> 
        <li (click)="changeUserPassword()">Change password</li>
    </div>
  </mat-tab>
</mat-tab-group>