<div class="wrap">
  <h1>Login</h1>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <mat-form-field>
      <input matInput type="text" placeholder="Username" name=UsernameInput [(ngModel)]="username" required />
      <mat-error *ngIf="f.submitted && !userIsValid()" class="help-block">Username is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name=PasswordInput [(ngModel)]="password" required />
      <mat-error *ngIf="f.submitted && !passwordIsValid()" class="help-block">Password is required</mat-error>
    </mat-form-field>
    <div *ngIf="errorMessage" class="help-block">{{errorMessage}}</div>
    <button mat-raised-button [disabled]="loading" class="btn btn-primary" color="primary">Login</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </form>

  <div class="form-group">
    <br />
    <br />
    <a [routerLink]='["/register-account"]'>
      <span class='glyphicon glyphicon-user'></span> Create account
    </a>
    <br/>
    <br/>
    <a [routerLink]='["/requestpassword"]'>
      <span class='glyphicon glyphicon-envelope'></span> Request new password
    </a>
  </div>

</div>
