@import '~styles/variables';

.layout {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  max-width: calc(50% - 8px);
  &:not(:first-child) {
    margin-left: 16px;
  }
}

.matchinput {
  display: flex;
  justify-content: space-between;
}

.players {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.addedplayers {
  min-height: 80px;
  border: 1px dotted $dark;
}

.player {
  padding: 8px;
  border: 2px solid $dark;
  margin: 2px;
  width: 100%;
  max-width: calc(50% - 24px);
  max-height: 80px;
  text-overflow: ellipsis;
  background: white;
  flex-grow: 1;
}

.player:hover {
  cursor: pointer;
}

.selected {
  background: $primary;
  color: white;
  transition: box-shadow 200ms linear;
  box-shadow: 2px 2px 2px 0px $dark;

}

.startMatch {
  padding: 16px 0;
  position: sticky;
  position: -webkit-sticky; /* safari */
  bottom: -16px;
  background: whitesmoke;
  color: white;
}

.player-section {
  display: flex;
  justify-content: space-between;
}

.player-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: calc(50% - 50px);
  margin-bottom: 8px;

  border: 2px solid $dark;
  padding: 4px;
  background-color: $primary;
}

.vs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $dark;
}

.switch-button {
  margin-bottom: 8px;
  height: 30px;
  width: 50px
}
