.players {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.player {
  padding: 12px;
  background: lightblue;
  border: 1px solid darkgray;
  margin: 2px;
  min-width: 120px;
}

.player:hover {
  cursor: pointer;
}

.selected {
  background-color: orange;
}