.layout {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  max-width: 285px;
}

.matchinput {
  display: flex;
  justify-content: space-between;
}

.players {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.addedplayers {
  min-height: 80px;
  border: 1px dotted #555555;
}

.player {
  padding: 8px;
  border: 1px solid #555555;
  margin: 2px;
  width: 24%;
  min-width: 140px;
  max-height: 80px;
  text-overflow: ellipsis;
  background: white;
}

.player:hover {
  cursor: pointer;

}

.selected {
  background: #6bbb4c;
  color: white;

  transition: box-shadow 200ms linear;
  box-shadow: 2px 2px 2px 0px grey;

}

.startMatch {
  padding: 8px;
  margin-bottom: 8px;
  position: sticky;
  position: -webkit-sticky; /* safari */
  bottom: 0px;
  background: whitesmoke;
}

.player-section {
  display: flex;
  justify-content: space-between;
}

.player-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.switch-button {
  margin-bottom: 8px;
  height: 30px;
  width: 50px
}
