  Help me Obi Wan Martin/Peter your Add matchs only hope
  <img src="https://media.giphy.com/media/3o8doPOY0S97MPsK76/giphy.gif" width="520" height="265" alt="">

  <div class="grid grid-pad">
    <a *ngFor="let player of players" class="col-1-4"
       (click)="addPlayer(player)">
      <div class="module">
        <h4>{{player.name}}</h4>
      </div>
    </a>
  </div>

  <div class="bottembar">
    <div class="grid grid-pad">
      <div *ngFor="let player of addedPlayers" class="col-1-4"
         (click)="addPlayer(player)">
        <div class="module">
          <h4>{{player.name}}</h4>
        </div>
      </div>
    </div>
  </div>
