.layout {

}

.players {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.addedplayers {
  min-height: 80px;
  border: 1px dotted #555555;
  margin-left: -1px;
}

.player {
  padding: 8px;

  border: 1px solid #555555;
  margin: 2px;
  width: 24%;
  min-width: 140px;
  max-height: 80px;
  text-overflow: ellipsis;
}

.player:hover {
  cursor: pointer;
  background-color: #b4cad2;
}

.selected {
  border: 2px solid #555555;
  background: #b4cad2;
}

.startMatch {
  display: flex;
  justify-content: space-between;
  padding: 8px;
    position: sticky;
    position: -webkit-sticky; /* safari */
    bottom: 0px;
    background: whitesmoke;
}
