@import '~styles/variables';

.top-content {
  min-height: calc(100vh - 256px);
  @media screen and (min-width: 512px) {
    min-height: calc(100vh - 220px);
  }
}

.layout {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  max-width: calc(50% - 8px);
  &:not(:first-child) {
    margin-left: 16px;
  }
}

.matchinput {
  display: flex;
  justify-content: space-between;
}

.players {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 16px;
  min-height: calc(100% - 100px);
}

.addedplayers {
  min-height: 80px;
  border: 1px dotted darkgrey;
}

.player {
  padding: 10px 8px;
  border: 2px solid darkgrey;
  margin: 2px;
  width: 100%;
  max-width: calc(50% - 24px);
  max-height: 80px;
  text-overflow: ellipsis;
  background: white;
  flex-grow: 1;
}

.player:hover {
  cursor: pointer;
}

.selected {
  background: $primary;
  color: white;
  transition: all 200ms linear;
  box-shadow: 2px 2px 2px 0px $dark;

}

.start-match {
  position: sticky;
  position: -webkit-sticky; // Safari
  bottom: -16px;
  margin: 0 -16px -16px -16px;
  height: 164px;
  padding: 16px;
  width: 100%;
  color: white;
  background: whitesmoke;
  border-top: 2px solid darkgrey;
  overflow: hidden;
  transition: transform .2s ease-out;
}

.visible {
  transform: translateY(0%);
  position: sticky;
}
.hidden {
  transform: translateY(100%);
  position: fixed;
}

.player-section {
  display: flex;
  justify-content: space-between;
}

.player-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100px;
  width: calc(50% - 25px);
  margin-bottom: 16px;

  border: 2px solid darkgrey;
  padding: 4px;
  background-color: $primary;
}

.vs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $dark;
  button {
    padding: 0;
    min-width: 50px;
  }
}

.switch-button {
  margin-bottom: 8px;
  height: 30px;
  width: 50px
}
