.buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.mat-button {
  padding: 8px 16px;
  margin: 0 -16px;
}

.button-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.loading {
  top: 0;
  left: -16px;
  position: fixed;
  width: calc(100vw + 32px);
}
