<div class="layout" *ngIf="user">
  <h3>Hello {{user.username}}</h3>

  <div class="buttons">
    <button [routerLink]='["/changepassword"]' type="button" mat-button>
      <div class="button-content">
          <i class="material-icons">
              swap_horiz
              </i>
        <p> Change password</p>
      </div>
    </button>
    <button [routerLink]='["/change-email"]' type="button" mat-button>
      <div class="button-content">
        <i class="material-icons">
          email
        </i>
        <p>Change Email</p>
      </div>
    </button>
    <button [routerLink]='["/login"]' type="button" mat-button>
      <div class="button-content">
        <i class="material-icons">
          <i class="material-icons">
            exit_to_app
          </i>
        </i>
        <p> Logout</p>
      </div>


    </button>
  </div>
</div>
