<div *ngIf="leaderboards">
  <div style="display: flex; justify-content: space-between;">
    <h2>{{selectedLeaderboard.seasonName }}</h2>
    <div style="margin-bottom: -8px;">
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="selectedLeaderboard">Seaon</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let l of leaderboards" (click)="selectedLeaderboard = l"> {{ l.seasonName }}</button>
      </mat-menu>
    </div>
  </div>
  <div class="player" [ngClass]="{'gold': i === 0 && delay, 'silver': i === 1 && delay, 'bronze': i === 2 && delay}"
    *ngFor="let leaderboardEntry of selectedLeaderboard.entries; let i = index">
    <div class="header">
      <p>{{ i + 1 }}.</p>
      <p>{{ leaderboardEntry.eloRating }}</p>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: -8px;">
      <a routerLink="/player-details/{{leaderboardEntry.userName}}">{{ leaderboardEntry.displayName }}</a>
      <p>{{ leaderboardEntry.wins }} / {{leaderboardEntry.numberOfGames}}
        ({{(leaderboardEntry.wins/leaderboardEntry.numberOfGames*100)| number : '1.2-2'}}%)</p>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="!leaderboards">
  <mat-spinner diameter="24"></mat-spinner>
</div>


<!--
<select *ngIf="selectedLeaderboard" [(ngModel)]="selectedLeaderboard">
  <option *ngFor="let leaderboard of leaderboards" [ngValue]="leaderboard">
    {{ leaderboard.seasonName }}
  </option>
</select>
<button *ngIf="selectedLeaderboard && isAdmin" (click)="recalculateSeason()">RECALCULATE</button>

<div *ngIf="selectedLeaderboard">
  <h2>{{selectedLeaderboard.seasonName | uppercase}}</h2>
  <div>
    <table class="table" >
      <thead>
        <tr>
          <th>RANK</th>
          <th>NAME</th>
          <th>STATS</th>
          <th>ELO RATING</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leaderboardEntry of selectedLeaderboard.entries; let i = index" >
          <td>{{ i + 1 }}</td>
          <td><a routerLink="/player-details/{{leaderboardEntry.userName}}">{{ leaderboardEntry.displayName }}</a></td>
          <td>{{ leaderboardEntry.wins }} / {{leaderboardEntry.numberOfGames}} ({{(leaderboardEntry.wins/leaderboardEntry.numberOfGames*100)| number : '1.2-2'}}%)</td>
          <td>{{ leaderboardEntry.eloRating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
