<p *ngIf="!leaderboards"><em>Loading...</em></p>

<br/>

<select *ngIf="selectedLeaderboard" [(ngModel)]="selectedLeaderboard">
  <option *ngFor="let leaderboard of leaderboards" [ngValue]="leaderboard">
    {{ leaderboard.seasonName }}
  </option>
</select>


<div *ngIf="selectedLeaderboard">
  <h2>{{selectedLeaderboard.name | uppercase}} Details</h2>
  <div>
    <table class="table" >
      <thead>
        <tr>
          <th>NAME</th>
          <th>STATS</th>
          <th>ELO RATING</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leaderboardEntry of selectedLeaderboard.entries">
          <td>{{ leaderboardEntry.displayName }}</td>
          <td>{{ leaderboardEntry.wins }} / {{leaderboardEntry.numberOfGames}} ({{(leaderboardEntry.wins/leaderboardEntry.numberOfGames*100)| number : '1.2-2'}}%)</td>
          <td>{{ leaderboardEntry.eloRating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
