<div class="layout">
  <div class="content">
    <app-online></app-online>
    <router-outlet></router-outlet>
  </div>
  <div class="navigation">
    <button mat-button routerLink="/leaderboard" routerLinkActive="link-active">
      <i class="material-icons">
        format_list_numbered
      </i>
    </button>
    <button mat-button routerLink="/last-games" routerLinkActive="link-active">
      <i class="material-icons">
        list
      </i>
    </button>
    <button mat-button routerLink="/add-match" routerLinkActive="link-active" class="btn-add">
      <i class="material-icons">
        add
      </i>
    </button>
    <button mat-button routerLink="/account" routerLinkActive="link-active">
      <i class="material-icons">
        account_circle
      </i>
    </button>
    <button mat-button routerLink="/activity" routerLinkActive="link-active">
    <i class="material-icons">
        sports
      </i>
    </button>
    <button mat-button *ngIf="isAdmin" routerLink="/admin" routerLinkActive="link-active">
      <i class="material-icons">
        build
      </i>
    </button>
  </div>
</div>

<button mat-fab routerLink="/add-match" routerLinkActive="hidden" class="fab-add">
  <mat-icon>add</mat-icon>
</button>
