@import "~styles/variables";

// Mobile

.layout {
  height: 100%;
  background-color: whitesmoke;
}
.material-icons {
  font-size: 28px;
}

.content {
  width: calc(100% - 32px);
  height: 100%;
  max-height: calc(100% - 48px - 32px);
  overflow: auto;
  padding: 16px;
}

.navigation {
  background-color: $primary;
  border-top: 2px solid darkgray;
  height: 48px;
  min-width: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 9999;
  button {
    color: white;
    width: 100%;
    min-width: 40px;
    height: 100%;
    transition: all 0.2s ease-out;
  }
  button:hover {
    transform: scale(1.1);
    background: rgba(whitesmoke, 0.2);
  }

  button.link-active {
    background: $accent;
  }

  .btn-add {
    display: none;
  }
}

.fab-add {
  position: fixed;
  bottom: 64px;
  right: 16px;
  background-color: $accent;
  color: white;
  mat-icon {
    font-size: 28px;
    width: 40px;
    height: 40px;
  }
}

.hidden {
  display: none;
}

// Desktop

@media screen and (min-width: 512px) {
  .navigation {
    border-right: 2px solid darkgray;
    border-top: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 42px;
    .btn-add {
      display: initial;
    }
  }

  .layout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .content {
    height: calc(100% - 32px);
    max-height: 100%;
    overflow: auto;
  }

  .material-icons {
    margin: 16px -6px;
  }

  .fab-add {
    display: none;
  }
}
