@import '~styles/variables';

.status {
  font-style: italic;
}

.indicator {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.free {
  background-color: $accent;
}

.taken {
  background-color: $warn;
}