@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-blue, 700);
$accent : mat-palette($mat-green, 500);
$warn   : mat-palette($mat-red);

$foos-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($foos-theme);

// Our dark theme
.dark-theme {
  color: $light-primary-text;
  // For now theese are just the same - could be different if you want though
  $dark-primary: mat-palette($mat-blue, 700);
  $dark-accent: mat-palette($mat-green, 500);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}
